<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/Loginpage.css">
</head>

<body>

    <header class="header">
        <a href="homepage.html"><img id="logo" src="/images/iiestlogo3original.png" alt=""></a>
        <nav class="navigation">
            <a id="about" href="aboutUs.html">About</a>
            <a id="signup" href="signup.html">Sign Up</a>
        </nav>
    </header>
    <div class="container">
        <form action="Interest/interest.html">
            <p id="name">Your username or email</p>

            <div class="input">
                <div id="inputname">
                    <input type="text" placeholder="Username or Email" required>
                </div>
            </div>

            <p id="password">Password</p>

            <div class="input">
                <div id="inputpassword">
                    <input type="password" placeholder="Password" required>
                </div>
            </div>

            <div id="fpassword">
                <a id="forgotpassword" href="#">Forgot password?</a>
            </div>

            <br>
            <div id="login">
                <button type="submit" id="loginbtn">Log in</button>
            </div>

            <p id="noaccount">Don't have an account?</p>

            <a id="createaccount" href="signup.html">Create Account</a>

        </form>
    </div>


</body>

</html>