<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User info</title>
    <link rel="stylesheet" href="../css/userinfo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="navbar">
        <img src="/images/iiestlogo3original.png" id="logo" width="75" height="75">
        <a id="about" href="aboutUs.html">About</a>
        <a id="login" href="Loginpage.html">Log In</a>
    </div>

    <main class="signupbody">
        <form action="Loginpage.html" class="form">

            <div class="input-info">
                <label for="username">Username</label>
            </div>

            <div>
                <input type="text" id="myusername" required placeholder="Username">
            </div>

            <div class="input-info">
                <label for="password">Password</label>
            </div>

            <div>
                <input type="text" id="mypassword" placeholder="Atleast 8 characters" required>
            </div>

            <div class="input-info">
                <label for="cpassword">Confirm Password</label>
            </div>

            <div>
                <input type="text" id="mypassword1" required placeholder="Re-enter your password">
            </div>

            <div id="inline-field">
                <label for="checkbox">agree to terms and conditions</label>
            </div>
            <div id="myagreement">
                <input type="checkbox" required>
            </div>

            <div id="submit-btn">
                <p><input type="submit" id="submit" value="Create Account"></p>
            </div>


        </form>
    </main>



</body>


</html>